<article class="
    relative
    self-stretch max-w-full min-h-36
    p-4 rounded-3xl overflow-hidden
    bg-gradient-to-r from-success-dark to-surface
    flex flex-col sm:flex-row justify-between items-stretch sm:items-center gap-4
  ">
  <!-- Imagen fondo inset -->
  <div class="absolute -bottom-[30%] -left-[5%] -top-[-10%] w-3/5
            bg-no-repeat bg-contain bg-left-bottom
            opacity-50 blur-[1px] pointer-events-none select-none" [style.background-image]="imgUrl">
  </div>

  <!-- Contenido -->
  <div class="relative z-10 flex flex-col justify-between h-full w:full sm:w--2/4 min-w-[8rem]">
    <h3 class="text-text-primary text-xl font-semibold line-clamp-2 break-words">{{ titulo }}</h3>
    <p class="text-text-primary text-sm font-light line-clamp-2 break-words">{{ descripcion }}</p>
  </div>

  <!-- Estado rotado -->
  <div class="flex items-center justify-center w-full sm:h-full sm:w-12">
    <div
      class="text-text-primary text-base font-normal font-poppins whitespace-nowrap sm:transform sm:-rotate-90 sm:origin-center">
      {{ estado }}
    </div>
  </div>

  <!-- Cuotas con sus descripciones -->
  <div class="w-full sm:flex-1 h-full grid grid-cols-2 gap-x-4">

    <!-- Opcion 1  -->
    <div class="grid grid-rows-2 place-items-center">
      <span class="row-start-1 text-text-primary text-base font-poppins font-medium">
        {{ cuotas[0] | number:'1.2-2':'es-ES' }}
      </span>
      <p class="row-start-2 max-w-[7rem] text-center text-text-primary text-sm font-light font-poppins
              leading-tight line-clamp-2 break-words">
        {{ descriptions[0] }}
      </p>
    </div>

    <!-- Opcion 2 -->
    <div class="grid grid-rows-2 place-items-center">
      <span class="row-start-1 text-text-primary text-base font-poppins font-medium">
        {{ cuotas[1] | number:'1.2-2':'es-ES' }}
      </span>
      <p class="row-start-2 max-w-[7rem] text-center text-text-primary text-sm font-light font-poppins
              leading-tight line-clamp-2 break-words">
        {{ descriptions[1] }}
      </p>
    </div>

  </div>


</article>