<div class=" h-full w-full flex flex-col items-center justify-center text-center">
  <!-- Mascota animada -->
  <img src="assets/images/aplastado.png" alt="Mascota confundida" class="h-40 mb-8" />

  <!-- Código 404 grande -->
  <h1 class="text-6xl font-oswald text-text-primary mb-4">404</h1>
  <p class="text-xl text-text-secondary mb-6">
    ¡Uy! Parece que esta página no existe.
  </p>

  <!-- Botón regresar al home -->
  <button routerLink="/"
    class="inline-flex items-center gap-2 px-6 py-3 bg-primary text-white rounded-full hover:bg-primary-dark transition">
    <mat-icon>home</mat-icon>
    Volver al inicio
  </button>
</div>