<footer class="
    w-full
    px-7 py-3.5
    bg-primary-dark/75 rounded-[20px]
    inline-flex flex-col justify-start items-center gap-2.5
    text-text-primary font-poppins

  ">

  <div class="self-stretch inline-flex justify-between items-end">
    <div class="flex items-center gap-[5px]">
      <img src="./assets/images/iconos/copy.svg" alt="Fork" class="w-4 h-4" />
      <div class="text-xs font-light leading-tight">
        {{ currentYear }} OctoBets - Proyecto Final de Ciclo (DAW)
      </div>
    </div>
    <div class="self-stretch inline-flex justify-center items-center gap-3.5">
      <div class="text-xs font-bold leading-tight">Términos</div>
      <div class="text-xs font-bold leading-tight">Privacidad</div>
      <div class="text-xs font-bold leading-tight">Cookies</div>
    </div>

    <div class="flex items-center gap-2.5">
      <div class="flex items-center gap-[3px]">
        <img src="./assets/images/iconos/github.svg" alt="GitHub" class="w-5 h-5" />
        <div class="text-xs font-light leading-tight">Repositorio GitHub </div>
      </div>
      <div class="flex items-center gap-[3px]">
        <img src="./assets/images/iconos/email.svg" alt="Contacto" class="w-5 h-5" />
        <div class="text-xs font-light leading-tight">Contacto</div>
      </div>
      <div class="px-px flex items-center gap-[3px]">
        <img src="./assets/images/iconos/linkedin.svg" alt="LinkedIn" class="w-5 h-5" />
        <div class="text-xs font-light leading-tight">LinkedIn</div>
      </div>
    </div>
  </div>
</footer>